<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>登录IP</th>
					<th>登录时间</th>
				</tr>
			</thead>
			<tbody>
				<% @entries.each do |entry| %>
					<tr>
						<td><%= entry.ip %></td>
						<td><%= format_datetime(entry.created_at) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= pagination(:total_page=>@total_page, :current_page=>@current_page) { |page| user_entries_path(page) } %>
