<h1></h1>
<%= render 'table' %>
<% if @see_source %>
	<div class="panel panel-default">
		<div class="panel-heading">
		  <h3 class="panel-title">源码</h3>
		</div>
		<div class="panel-body">
		  <%= @submission.source_code %>
		</div>
	</div>
<% end %>
