<h1></h1>
<div class="container-fluid">
	<h4>正在进行中的比赛</h4>
	<%= render partial: "table", object: @running_contests, as: :contests %>
	<h4>即将到来的比赛</h4>
	<%= render partial: "table", object: @pending_contests, as: :contests %>
	<h4>已经结束的比赛</h4>
	<%= render partial: "table", object: @finished_contests, as: :contests %>
	<div class="text-center">
		<%= will_paginate @finished_contests, renderer: BootstrapPagination::Rails %>
	</div>
</div>

