<!-- Modal -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="alert alert-warning" role="alert">
      	  <center><h3>这道题目前被禁止提交</h3></center>
      	</div>
      </div>
    </div>
  </div>
</div>
